
MPLABXlog.*
build_failure_log.txt
**/*.vscode
**/*.zip
**/*.elf
**/*.hex
**/*.map
**/*.cof
**/*.sdb
**/*.o
**/*.d
**/*.lst
**/*.mcw
**/*.bak
**/*.tmp
**/*.log
**/*.zip
**/*.rar
**/*.7z
**/*.err
**/*.workspace
**/*.pdsbak
# Ignoring files according to http://microchip.wikidot.com/faq:72
**/build/
**/debug/
**/dist/
**/.generated_files

#Ingoring private Makefiles, to create them open the MPLAB IDE or use the C:\Program Files (x86)\Microchip\MPLABX\<VERSION>\mplab_ide\bin\prjMakefilesGenerator.bat script
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/private/ 
**/nbproject/configurations.xml.bak
**/nbproject/*.log
**/nbproject/*.properties
**/nbproject/*.stash

